<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>word</key>
		<string>boat</string>
		<key>wordFirst</key>
		<string>b</string>
		<key>translation</key>
		<string>bateau</string>
		<key>translationFirst</key>
		<string>b</string>
		<key>gender</key>
		<string>m</string>
	</dict>
	<dict>
		<key>word</key>
		<string>valley</string>
		<key>wordFirst</key>
		<string>v</string>
		<key>translation</key>
		<string>vallée</string>
		<key>translationFirst</key>
		<string>v</string>
		<key>gender</key>
		<string>f</string>
	</dict>
	<dict>
		<key>word</key>
		<string>river</string>
		<key>wordFirst</key>
		<string>r</string>
		<key>translation</key>
		<string>fleuve</string>
		<key>translationFirst</key>
		<string>f</string>
		<key>gender</key>
		<string>m</string>
	</dict>
	<dict>
		<key>word</key>
		<string>city</string>
		<key>wordFirst</key>
		<string>c</string>
		<key>translation</key>
		<string>ville</string>
		<key>translationFirst</key>
		<string>v</string>
		<key>gender</key>
		<string>f</string>
	</dict>
	<dict>
		<key>word</key>
		<string>capital</string>
		<key>wordFirst</key>
		<string>c</string>
		<key>translation</key>
		<string>capitale</string>
		<key>translationFirst</key>
		<string>c</string>
		<key>gender</key>
		<string>f</string>
	</dict>
	<dict>
		<key>word</key>
		<string>hill</string>
		<key>wordFirst</key>
		<string>h</string>
		<key>translation</key>
		<string>colline</string>
		<key>translationFirst</key>
		<string>c</string>
		<key>gender</key>
		<string>f</string>
	</dict>
    <dict>
        <key>word</key>
        <string>train</string>
        <key>wordFirst</key>
        <string>t</string>
        <key>translation</key>
        <string>train</string>
        <key>translationFirst</key>
        <string>t</string>
        <key>gender</key>
        <string>m</string>
    </dict>
    <dict>
        <key>word</key>
        <string>airplane</string>
        <key>wordFirst</key>
        <string>a</string>
        <key>translation</key>
        <string>avion</string>
        <key>translationFirst</key>
        <string>a</string>
        <key>gender</key>
        <string>m</string>
    </dict>
</array>
</plist>
